1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEOS          0x4
FILETYPE        0x1

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",      "Lab\0"
      VALUE "FileDescription",  "whisperGUI\0"
      VALUE "FileVersion",      "1.0.0.0\0"
      VALUE "InternalName",     "whisperGUI.exe\0"
      VALUE "OriginalFilename", "whisperGUI.exe\0"
      VALUE "ProductName",      "whisperGUI\0"
      VALUE "ProductVersion",   "1.0.0.0\0"
      VALUE "LegalCopyright",   "© 2025 Lab\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
